#room	
	color: #FFFFFF
	height: 100%
	
	.player-connected-list
		
		text-align: right;

		li
			display: inline-block;
			margin-right: 50px;
			text-align: center;
			
			&.last
				margin-right: 0;
			
			i
				font-size: 60px;
			
			p
				font-size: 25px;
				font-weight: bold;
				
	.player-connect-form
		
		float: right;
		text-align: right;
		
		.form-group
			
			min-width: 300px;
		
			.form-control
				background: none;
				border: none;
				border-bottom: 2px solid #FFFFFF;
				border-radius: 0;
			
		.btn
			border: none;
			background: none;
			color: #FFFFFF;
			text-transform: uppercase;
			padding-right: 0;