<div id="room" class="container">
	<div class="room-header row text-center">
		<h2>Room {{vm.roomId}}</h2>
		<!--span class="clock">0:50</span-->
	</div>
	<div class="room-body row">

		<form id="new-player-form" class="col-md-12" ng-submit="vm.addPlayer()">
		  <div class="form-group">
		    <input class="new-player" autofocus=""
				ng-model="vm.newPlayer.name"
				placeholder="Player Name..." />
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
		<!--p class="card-body">Instead of coal, Santa now gives the bad children _.</p-->
	</div>


	<ul class="player-list">
		<li class="player-item" ng-repeat="player in vm.players">{{player.name}}</li>
	</ul>



</div>
