<div id="room" class="container">

	<div class="room-header row text-center">
		<h2>Card Czar</h2>
		<span class="clock">0:50</span>
	</div>
	<div class="room-body">
		<p class="card-body">Instead of coal, Santa now gives the bad children _.</p>
		
	</div>


	<!--ul class="player-list">
		<li class="player-item" ng-repeat="player in vm.players">{{player.name}}</li>
	</ul>

	<form ng-submit="vm.addPlayer()">
    <input class="new-player" autofocus=""
           ng-model="vm.newPlayer"
           placeholder="Your name..." />

    <input type="submit" value="Join">
  </form-->

</div>